<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<!--  <customErrors defaultRedirect="error/?" mode="On" /> -->
		<customErrors defaultRedirect="error/?" mode="RemoteOnly" />
		<httpCookies httpOnlyCookies="true" requireSSL="true" />
		<!--	<customErrors mode="Off" />	-->
		<httpRuntime enableVersionHeader="False" />
	</system.web>
    <system.webServer>
        <defaultDocument enabled="true" />
        <rewrite>
            <rules>
                <rule name="HTTP_Redirect" stopProcessing="true">
                    <match url="(.*)" negate="false" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Remove Server Header">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
                <rule name="Set Access-Control-Allow-Origin" patternSyntax="Wildcard">
                    <match serverVariable="RESPONSE_Access-Control-Allow-Origin" pattern="*" negate="false" />
                </rule>
                <rule name="Use only secure cookies" preCondition="Unsecured cookie">
                    <match serverVariable="RESPONSE_SET_COOKIE" pattern=".*" negate="false" />
                    <action type="Rewrite" value="{R:0}; secure" />
                </rule>
                <preConditions>
                    <preCondition name="Unsecured cookie">
                        <add input="{RESPONSE_SET_COOKIE}" pattern="." />
                        <add input="{RESPONSE_SET_COOKIE}" pattern="; secure" negate="true" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="Content-Security-Policy" value="default-src 'self'" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
